# Learning MongoDb in a easy Way

##### Basics 
* Database Name - > Database Name 
* Table Name -> collection Name

In [ ]:
!pip install pymongo

In [1]:
try:
    import os
    import pandas as pd
    import sys
    import io
    import pymongo
    import json
    from pymongo import MongoClient
    from bson.objectid import ObjectId

    print("All Modules loaded ")
except Exception as e:
    print("Error : {} ".format(e))

All Modules loaded

* Before you start working understanding basics is important. Now that you understand what a database Name is amd what a collection is we will use pymongo Library for this. remember i also have a video if you want to develop helper classes on top of pyongo i have a video on how to do that

###### Client object 
* Always We start by creating a client object

# Par 1:
##### Installation of Mongo DB using Docker 
* https://www.youtube.com/watch?v=u6bOt3rp-Oo

* mongodb://root:rootpassword@localhost:27017

version: '3.7'

services:

  mongodb_container:
  
    image: mongo:latest
    
    environment:
    
      MONGO_INITDB_ROOT_USERNAME: root
      
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      
    ports:
    
    - 27017:27017
    
    volumes:
    
    - /Tutorial:/data/db

In [2]:
CONNECTION_URL = "mongodb://root:rootpassword@localhost:27017"

In [3]:
client = MongoClient(host=CONNECTION_URL)

##### Getting all DB Names

In [4]:
client.list_database_names()

['admin', 'config', 'local', 'person']

###### Getting all collection Names

In [9]:
DBNAME = 'person'

In [13]:
client[DBNAME].list_collection_names()

['names']

### Insert operations

* When you wnat to insert Items in MongoDB you always have to say which Database Name and which collection Name

* inserting one Documents

* Lets Create a new Database with Name Languages and have a table name language

In [63]:
client['Languages']['language'].insert_one({
    
    "name":"Soumil Nitn Shah ",
    "age":25,
    "language":["Python", "c#" , "c++"]
    
    
})

* What Mongo Does it will insert this Record with a Unique Key ie Primary Key

* Inserting with unique Identifier you specify

In [64]:
client['Languages']['language'].insert_one({
    "_id":"1",
    "name":" Nitn Shah ",
    "age":57,
    "language":["Python", "c#" , "c++", "java"]
    
    
})

* Insert many

In [65]:
data = [{
    "_id":"2",
    "name":" Suhas Shah ",
    "age":60,
    "language":["Python", "java"]
    
    
},
{
    "_id":"3",
    "name":" Nitn Shah ",
    "age":57,
    "language":["Python", "java"]
    
    
}]

In [66]:
client['Languages']['language'].insert_many(data)

* Understanding to insert pandas Dataframe

In [67]:
data = [{
    "_id":"4",
    "name":" karan Shah ",
    "age":60,
    "language":["Python", "java"]
    
    
},
{
    "_id":"5",
    "name":"  Shah ",
    "age":57,
    "language":["Python", "java"]
    
    
}]

import pandas as pd
df = pd.DataFrame(data=data)

In [68]:
df.head()

  _id          name  age        language
0   4   karan Shah    60  [Python, java]
1   5         Shah    57  [Python, java]

In [69]:
client['Languages']['language'].insert_many(df.to_dict('record'), ordered=False)

#### Update if Record Exists

In [70]:
new = {
    "name":"Hacked",
    "age":222,
    "language":["python3"]
    
}

In [71]:
client['Languages']['language'].find_one_and_update(
{"_id":"4"},
{"$set": new}
)

{'_id': '4', 'name': ' karan Shah ', 'age': 60, 'language': ['Python', 'java']}

* what if you just want to change one attribute

In [72]:
client['Languages']['language'].find_one_and_update(
{"_id":"4"},
{"$set": {"name":"HMMM CHNAGE ME "}}
)

{'_id': '4', 'name': 'Hacked', 'age': 222, 'language': ['python3']}

* remember if it dosent find the record with Search filter you profvide it will insert a new one

#### Search

* match all

In [73]:
client['Languages']['language'].find({})

* Remeber it will always give you a generator Object to get the data you need a iterator
{} mean find everything

In [74]:
for x in client['Languages']['language'].find({}):
    print(x)
    break

{'_id': ObjectId('5f80fc12651cf487416590c0'), 'name': 'Soumil Nitn Shah ', 'age': 25, 'language': ['Python', 'c#', 'c++']}

* less than operator

In [75]:
for x in client['Languages']['language'].find({
    "age": {
        "$lt": 60}
}):
    print(x)

{'_id': ObjectId('5f80fc12651cf487416590c0'), 'name': 'Soumil Nitn Shah ', 'age': 25, 'language': ['Python', 'c#', 'c++']}
{'_id': '1', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'c#', 'c++', 'java']}
{'_id': '3', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'java']}
{'_id': '5', 'name': '  Shah ', 'age': 57, 'language': ['Python', 'java']}

* Searching in array

##### AND

In [76]:
for x in client['Languages']['language'].find({
    'language':['Python', 'java']
}):
    print(x)

{'_id': '2', 'name': ' Suhas Shah ', 'age': 60, 'language': ['Python', 'java']}
{'_id': '3', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'java']}
{'_id': '5', 'name': '  Shah ', 'age': 57, 'language': ['Python', 'java']}

#### OR

In [52]:
for x in client['Languages']['language'].find({
   "$or":[
      {
         "language":"python"
      },
      {
         "language":"java"
      }
   ]
}):
    print(x)

{'_id': '1', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'c#', 'c++', 'java']}
{'_id': '2', 'name': ' Suhas Shah ', 'age': 60, 'language': ['Python', 'java']}
{'_id': '3', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'java']}
{'_id': '5', 'name': '  Shah ', 'age': 57, 'language': ['Python', 'java']}

#### Sort

In [54]:
 data = client['Languages']['language'].find({
   "$or":[
      {
         "language":"python"
      },
      {
         "language":"java"
      }
   ]
}).sort("name")

for x in data:
    print(x)

{'_id': '5', 'name': '  Shah ', 'age': 57, 'language': ['Python', 'java']}
{'_id': '1', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'c#', 'c++', 'java']}
{'_id': '3', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'java']}
{'_id': '2', 'name': ' Suhas Shah ', 'age': 60, 'language': ['Python', 'java']}

In [56]:
 data = client['Languages']['language'].find({
   "$or":[
      {
         "language":"python"
      },
      {
         "language":"java"
      }
   ]
}).sort("name",1)

for x in data:
    print(x)

{'_id': '5', 'name': '  Shah ', 'age': 57, 'language': ['Python', 'java']}
{'_id': '1', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'c#', 'c++', 'java']}
{'_id': '3', 'name': ' Nitn Shah ', 'age': 57, 'language': ['Python', 'java']}
{'_id': '2', 'name': ' Suhas Shah ', 'age': 60, 'language': ['Python', 'java']}

* sort("name", 1) #ascending
* sort("name", -1) #descending

##### delete

In [60]:
client['Languages']['language'].delete_one({"name":"Shah "})

* Delete Many

In [61]:
client['Languages']['language'].delete_many({})

# Level 3:
if you really wnat to make a helper Library here is sample how i did using design pattern and metaclasses. i made a helper class on top of pymongo

In [62]:
__NAME__ = "Soumil Nitin Shah "
__VERSION__ = "0.0.1"


try:
    import os
    import pandas as pd
    import sys
    import io
    import pymongo
    import json
    from pymongo import MongoClient
    from bson.objectid import ObjectId
    print("All Modules loaded ")
except Exception as e:
    print("Error : {} ".format(e))


class Singleton(type):

    """This would be a Singleton  Design pattern """

    _instance = {}

    def __call__(cls, *args, **kwargs):
        """Creates one one instance of the class """
        if cls not in cls._instance:
            cls._instance[cls] = super(Singleton, cls).__call__(*args, **kwargs)
            return cls._instance[cls]


class Settings(metaclass=Singleton):
    def __init__(self, host=None, maxPoolSize=50, port=27010):
        self.host = host
        self.maxPoolSize = maxPoolSize
        self.port = port


class Client(metaclass=Singleton):

    def __init__(self, _settings=None):
        self.settings = _settings
        self.mclient = MongoClient(host=self.settings.host,
                                    port=self.settings.port,
                                    maxPoolSize=self.settings.maxPoolSize)


class MongoInsert(object):

    def __init__(self, _client=None, dbName=None, collectionName=None):
        self.client = _client
        self.dbName=dbName
        self.collectionName=collectionName

    def insert_one(self, record={}):
        """
        Insert record in Mongo DB
        :param record: Json
        :return: Bool
        """
        try:
            self.client.mclient[self.dbName][self.collectionName].insert_one(record)
            return True
        except Exception as e:
            print("Error : {} ".format(e))
            return False

    def insert_pandas_df(self,df=None):
        """
        :param df: Pandas DF
        :return: Bool
        """

        try:
            self.client.mclient[self.dbName][self.collectionName].insert_many(df.to_dict(), ordered=False)
            return True
        except Exception as e:
            return False


class Mongoinformation(object):

    def __init__(self, _client=None):
        self.client = _client

    def getALllDatabase(self):
        """
        Rreturn all Database Name in Mongo Db
        :return: List
        """
        return self.client.mclient.list_database_names()

    def getAllCollections(self, DbName=None):
        """
        :param DbName: Str
        :return: List
        """
        if DbName is None:
            return []
        else:
            self.client.mclient[DbName].list_collection_names()


class Mongoose(object):

    """facade Class """

    def __init__(self, host=None,port=27010, maxPoolSize=50,dbName=None, collectionName=None):
        self._settings =Settings(host=host, port=port, maxPoolSize=maxPoolSize)     # Cretes a instance of settings class
        self.client = Client(_settings=self._settings)                              # creates a single instance of client object
        self.dbName=dbName
        self.collectionNam = collectionName
        self._insert = MongoInsert(_client=self.client, dbName=self.dbName,collectionName=self.collectionNam)

    def insert_one_record(self, record):
        return self._insert.insert_one(record=record)


def main1():
    _helper = Mongoose(host="mongodb://root:rootpassword@localhost:27017",dbName='person',collectionName='names')
    _record = {"name":"Nitin  shah"}
    _helper.insert_one_record(record=_record)


#
# def main():
#
#     url = "mongodb://root:rootpassword@localhost:27017"
#
#     # Cretes a instance of settings class
#     _settings = Settings(host=url)
#
#     # creates a single instance of client object
#     _client = Client(_settings=_settings)
#
#     _record = {"name":"Soumil shah"}
#     dbName= "person"
#     collectionName = "names"
#
#     _helper = MongoInsert(_client=_client, dbName=dbName,collectionName=collectionName)
#     res = _helper.insert_one(record=_record)
#     print(res)


#if __name__ == "__main__":
#    main1()

All Modules loaded